@import "colors.css";
@import "header.css";
@import "graph-animation.css";

@import "input.css";
@import "card.css";
@import "buttons.css";

* {
    margin: 0;
    padding: 0
}

.main-site-body {
    margin-left: 50px
}

.list-item {
    padding: 20px 0
}

canvas {
    display: block;
}

.mytext {
  font-size: 20px;
  background: var(--primary-background);
  outline: none;
  color: var(--primary-text)
}

.error {
  text-shadow: #f54c45 1px 0 10px;
  font-weight: bold;
  font-size: 24px;
  background: var(--primary-background);
  color: var(--error)
}

.table {
  background: var(--primary-background);
  color: var(--primary-text)
}

.result-yes {
  color: var(--hit-dot-color)
}

.result-no {
  color: var(--miss-dot-color)
}
